.post-topic {
  margin: 0 4px;
}

body {
  font-family: "Lato", sans-serif;
}

.app-wrapper {
  display: grid;
  justify-content: center;
}

.logo-main,
.recent-post {
  display: grid;
  justify-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

$color-grey-one: #666666;
$color-grey-two: #b3b3b3;
$color-grey-three: #d8d8d8;
$color-blue-one: #0079ff;

@import "./mixins";
@import "./home";
@import "./searchBar";
@import "./recentPosts";
@import "./post";
@import "./results";
